@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700&family=Lora:ital,wght@0,400;0,700;1,400&family=Fira+Code:wght@400;500&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism-tomorrow.min.css');

@import '../../shared-styles/theme.css';
@import './blog.css';
